{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
  {cowboy, "1.1.2"},
  {relx, "3.22.4"},
  {sync, ".*",
    {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
]}.

{relx, [{release, {myapp, "0.0.1"},
         [myapp]},
        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}
       ]
}.

{profiles, [
            {prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]}
           ]
}.
